%header
  %h2 Job List

.row
  .columns.medium-12
    %ul.unstyled
      - jobs.each do |job|
        %li
          .row
            .columns.medium-8
              %h3= job.title
            .columns.medium-2
              = link_to 'View All', job_candidates_path(job), class: 'button secondary expand'

            .columns.medium-2
              = link_to 'Add Candidate', new_job_candidate_path(job), class: 'button expand'
